{% extends 'base.html' %}
{% block content %}
<table>
    <th>
        제목
    </th>
    <th>
        카테고리
    </th>
    <th>
        작성자    
    </th>
    <th>
        날짜
    </th>
    {% for i in articlelist %}

    {% if forloop.counter <= 10 %} <tr>
        <td>
            {{i.title}}
        </td>
        <td>
            {{i.time}}
        </td>

        {% endif %}
        {%endfor%}
        <tr>
            <td>
                <p onclick='move(event)' class='/app/articlelist'>더보기</p>
            </td>
        </tr>
</table>
{% endblock %}
